<h3> Car Information</h3>
  <ul>
    <li> <%= "#{@car.year}" %></li>
    <li> <%= "#{@car.manufacturer.name}" %></li>
    <li> <%= "#{@car.model_name}" %></li>
    <li> <%= "#{@car.color}" %></li>
    <li> <%= "#{@car.mileage}" %></li>
  </ul>
